#root {
  min-height: 100vh;
  background-color: rgb(32, 108, 124);
}

.header {
  text-align: center;
  font-size: 2rem;
  background-color: rgba(255, 0, 0, 0.47);
  padding: 1rem;
  color: rgba(255, 255, 255, 0.48);

  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-info {
  position: absolute;
  right: 0;
}
