#root {
  min-height: 100vh;
  padding: 4rem 6rem;
  background-color: #e7e7e7;
}

.header {
  text-align: center;
  font-size: 2rem;
  margin: 0 0 4rem 0;
  background-color: #b6b6b6;
  padding: 1rem;
}
