.task-form-content {
  min-width: 20%;
}

.task-form-content form {
  display: flex;
  flex-direction: column;
  margin: 2rem 0;
}

.task-form-content form label {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0.5rem 0;
  font-size: 1.5rem;
}

.task-form-content form input {
  font-size: 1.5rem;
  padding: 0.2rem;
}

.task-form-content form button {
  font-size: 1.5rem;
  padding: 0.2rem;
  margin: 0.5rem 0;
}
