.task-form-content {
  padding: 2rem 0;
  color: rgba(255, 255, 255, 0.71);
}

.task-form-content form {
  max-width: 32%;
  display: flex;
  flex-direction: column;
  margin: 2rem auto;
}

.task-form-content form label {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0.5rem 0;
  font-size: 1.5rem;
}

.task-form-content form input {
  padding: 0.5rem;
  text-align: center;
}

.task-form-content form button {
  font-size: 1.5rem;
  padding: 0.5rem;
  margin: 0.5rem 0;
}

@media screen and (max-width: 1000px) {
  .task-form-content form {
    max-width: 45%;
  }
}

@media screen and (max-width: 510px) {
  .task-form-content form {
    max-width: 65%;
  }
}
