#content {
  display: flex;
  justify-content: center;
  font-size: 3rem;
  margin-top: 10rem;
}

header {
  border: 1px solid black;
}

form label {
  display: flex;
  flex-direction: column;
}

.form-content {
  display: flex;
  justify-content: center;
  border: 1px solid black;
  margin: 0 3rem 0 0;
  width: 40rem;
  height: 40rem;
}

form {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
}

#task, #time, form button {
  height: 5rem;
  font-size: 2rem;
}

form button {
  border: 1px solid black;
  background-color: white;
}

.table-content {
  border: 1px solid black;
  margin: 0 0 0 3rem;
  width: 40rem;
}

table {
  display: flex;
  flex-direction: column;
  text-align: center;
}
