#content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 8rem;
}

.table-content {
  font-size: 1.5rem;
  min-width: 40%;
  background-color: white;
}

.table-content table {
  border: 1px solid black;
  margin: auto;
  min-width: 100%;
}

.table-content table thead {
  background-color: #f2f2f2;
}

.table-content table thead tr th {
  padding: 1rem;
  border: 1px solid black;
}

.table-content table tbody tr td {
  padding: 1rem;
  border: 1px solid black;
}

.tableButtons {
  display: flex;
  justify-content: center;
}

.user-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 1.3rem;
  min-width: 40%;
  height: 7rem;
  margin-bottom: 2rem;
  text-align: center;
}

/* Media Queries */
@media screen and (max-width: 1000px) {
  .table-content {
    min-width: 55%;
  }
}

@media screen and (max-width: 475px) {
  .table-content {
    min-width: 100%;
  }
}
