#content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.table-content {
  font-size: 1.5rem;
  min-width: 40%;
  border: 1px solid black;
}

.table-content table {
  border: 1px solid black;
  margin: auto;
  min-width: 100%;
}

.table-content table thead {
  background-color: #f2f2f2;
}

.table-content table thead tr th {
  padding: 1rem;
  border: 1px solid black;
}

.table-content table tbody tr td {
  padding: 1rem;
  border: 1px solid black;
}
