.login-form {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: rgba(255, 255, 255, 0.73);
  padding: 13rem 0;
}

.login-form form {
  display: flex;
  flex-direction: column;
  margin: 2rem 0;
}

.login-form a {
  font-size: 2rem;
  margin: 0.5rem 0;
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
}

.login-labels {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0.5rem auto;
  font-size: 1.5rem;
  min-width: 32%;
}

.login-labels label {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0.5rem 0;
  font-size: 1.5rem;
}

.login-labels input {
  text-align: center;
  padding: 0.6rem;
  border-radius: 0.6rem;
  border: 1px solid #888;
}

.login-labels button {
  padding: 0.6rem;
  margin: 2rem 0;
  border-radius: 0.6rem;
  border: 1px solid #888;
  color: #545454;
  cursor: pointer;
}

.login-labels button:hover {
  background-color: rgba(255, 0, 0, 0.53);
  color: rgba(255, 255, 255, 0.64);
}

.login-form a:hover {
  color: rgb(255, 255, 255);
}

/* Media Queries */
@media screen and (max-width: 1000px) {
  .login-labels {
    min-width: 55%;
  }
}

@media screen and (max-width: 510px) {
  .login-labels {
    min-width: 65%;
  }
}
